# Ignore everything
*

# Allow only specific top-level folders
!rofi/
!hypr/
!waybar/
!kitty/
!bongocat/

# Allow everything under them
!rofi/**
!hypr/**
!waybar/**
!kitty/**
!bongocat/**

# Allow .gitignore and README.md
!.gitignore
!README.md

